[submodule "src/local_map"]
	path = src/local_map
	url = https://gitee.com/emnavi/local_map.git
	# url = https://github.com/emNavi/local_map.git
[submodule "src/vins_fusion"]
	path = src/vins_fusion
	url = https://gitee.com/emnavi/vins_fusion.git
	# url = https://github.com/emNavi/vins_fusion.git
[submodule "src/open_vins"]
	path = src/open_vins
	url = https://gitee.com/emnavi/open-vins.git
	# url = https://github.com/emNavi/open-vins.git
[submodule "src/ego_planner"]
	path = src/ego_planner
	url = https://gitee.com/emnavi/ego_planner.git
	# url = https://github.com/emNavi/ego_planner.git
[submodule "src/emnavi_sdk/emnv_ctl_bridge"]
	path = src/emnavi_sdk/emnv_ctl_bridge
	url = https://gitee.com/emnavi/emnv_ctl_bridge.git
	branch = devh
