[submodule "src/local_map"]
	path = src/local_map
	url = https://gitee.com/Derkai52/local_map.git
	# url = https://github.com/emNavi/local_map.git
[submodule "src/vins_fusion"]
	path = src/vins_fusion
	url = https://gitee.com/Derkai52/vins_fusion.git
	# url = https://github.com/emNavi/vins_fusion.git
[submodule "src/ego_planner_swarm_v1"]
	path = src/ego_planner_swarm_v1
	url = https://gitee.com/Derkai52/ego-planner-swarm-v1.git
	# url = https://github.com/emNavi/ego-planner-swarm-v1.git
[submodule "src/kalibr"]
	path = src/kalibr
	url = https://gitee.com/Derkai52/kalibr.git
	# url = https://github.com/emNavi/kalibr.git
